body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #4daf54, #3d8880);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  border: 1px solid;
  padding: 10px;
}

img{
  border-radius: 50%;
  height: 100px;
}

aside{
  border: 1px solid;
  padding: 19px;
}

.row{
  display: flex;
}

main{
  width: 60%;
  border: 1px solid;
  margin: 20px 20px;
  padding: 10px;
}

.item{
  margin: 0 22px;
}

button:hover{
  cursor: pointer;
}