.head{
    width: 100%;
    border: 1px solid black;
    background: rgb(92, 7, 92);
    padding: 20px 0;
}

button{
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

form{
    margin: 20px;
    padding: 26px;
}

table{
    width: 100%;
}

tr{
    display: flex;
    width: 100%;
    padding: 6px;
    align-items: center;
    justify-content: space-evenly;
}

td{
    width: 100%;
}

input{
    padding: 3px 20px 3px 90px;
    border-radius: 5px;
    border: none;
}

.title{
    transform: translateX(-55px);
}

.btns{
    transform: translate(170px, 20px);
}

button + button {
    margin-left: 10px;
}