body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #4daf54, #3d8880);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: 10px solid rgb(30, 37, 30);
  border-radius: 5px;
}

input {
  margin: 0 auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

p {
  transform: translate(-80px, -13px);
  font-weight: bold;
}